Service/CabinetInfirmierClient/src/conf/xml-resources/web-service-references/CabinetInfirmier/wsdl/localhost_8080/CabinetInfirmierServer/CabinetInfirmier.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://medical.l3miage.ujf_grenoble.fr/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://medical.l3miage.ujf_grenoble.fr/">

<xs:element name="getCoutPatient" type="tns:getCoutPatient"/>

<xs:element name="getCoutPatientResponse" type="tns:getCoutPatientResponse"/>

<xs:element name="getHTML" type="tns:getHTML"/>

<xs:element name="getHTMLResponse" type="tns:getHTMLResponse"/>

<xs:element name="getInfirmiere" type="tns:getInfirmiere"/>

<xs:element name="getInfirmiereResponse" type="tns:getInfirmiereResponse"/>

<xs:element name="getListePatientsStr" type="tns:getListePatientsStr"/>

<xs:element name="getListePatientsStrResponse" type="tns:getListePatientsStrResponse"/>

<xs:element name="getNomCabinet" type="tns:getNomCabinet"/>

<xs:element name="getNomCabinetResponse" type="tns:getNomCabinetResponse"/>

<xs:element name="getStrLength" type="tns:getStrLength"/>

<xs:element name="getStrLengthResponse" type="tns:getStrLengthResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:complexType name="getCoutPatient">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCoutPatientResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getInfirmiere">
<xs:sequence>
<xs:element name="infirmierId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getInfirmiereResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getHTML">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getHTMLResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getStrLength">
<xs:sequence>
<xs:element name="mot" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getStrLengthResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getNomCabinet">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getNomCabinetResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getListePatientsStr">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getListePatientsStrResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>